*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: cairo ;

}


#con{

width: 100%;
margin: 0 auto;

}

h1{
	font-size: 60px;
color:  #396651;

}



a{
	color: white;
	text-decoration: none;
}