
#menu{
	background-color: #ecc023;
	height: 70px;
	width: 700px;
     margin: 0 auto;

	

}


.menu-all  .menu-item{
	float: right;
	padding: 30px;
	padding-bottom:;
	margin:;
	list-style-type:none;
	line-height: 50px;
	font-size: 18px;


}
.menu-all .menu-item:hover{
	 background-color: #396651
	 
}

#Hero{
	
height:500px;
width: 700px;
background: #ecc023;
	margin: 0 auto;



}
.hero-img{

	

}


#About {
background-color:;
text-align: center;
margin: 0 auto;
margin-top: 40px;

  }
  .About-img{
  	 width: 100px;
  	 margin: 20px;
  }

  .p{
  	color: #396651;
  	font-size: 20px;
  	padding-top:  px;
  	margin-bottom: 10px;
  }

  #row{

  	

  	
  
  }


  	
  .col-3-1{
  	background-color: #ecc023;
  	width: 170px;
  	height:70px;
  	font-size: 20px;
  	  margin: 0 auto;
  	  margin-bottom: 30px;
box-shadow: 0 3px  #396651 ;
border: none;
cursor: pointer;
transition-duration: 0.08s;
  }

  .col-3-2{
  	background-color: #fdbab2;
  	width: 170px;
  	height:70px;
  	font-size: 20px;
  
  	  	margin: 0 auto;
  	  	 margin-bottom: 30px;
  	  	 box-shadow: 0 3px  #396651 ;

  }

   .col-3-3{
  	background-color: #95af8a;
  width: 170px;
  	height:70px;
  	font-size: 17px;
  	margin: 0 auto;
  	 margin-bottom: 30px;
  	 box-shadow: 0 3px  #396651 ;
  	
  }


  




 
 #end{

    background-color:#95af8a;
  	height: 70px;
  	width: 700px;
  	margin: 0 auto;


 }

 .end-img{
 	margin: 25px;

 }

  
