@charset "utf-8";

body { font-size: 0.875rem; }

.feather { width: 16px; height: 16px; vertical-align: text-bottom; }

.sidebar { position: fixed; top: 0px; bottom: 0px; left: 0px; z-index: 100; padding: 48px 0px 0px; box-shadow: rgba(0, 0, 0, 0.1) -1px 0px 0px inset; }

.sidebar-sticky { position: relative; top: 0px; height: calc(100vh - 48px); padding-top: 0.5rem; overflow: hidden auto; }

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky { position: sticky; }
}

.sidebar .nav-link { font-weight: 500; color: rgb(51, 51, 51); }

.sidebar .nav-link .feather { margin-right: 4px; color: rgb(153, 153, 153); }

.sidebar .nav-link.active { color: rgb(0, 123, 255); }

.sidebar .nav-link:hover .feather, .sidebar .nav-link.active .feather { color: inherit; }

.sidebar-heading { font-size: 0.75rem; text-transform: uppercase; }

[role="main"] { padding-top: 133px; }

@media (min-width: 768px) {
  [role="main"] { padding-top: 48px; }
}

.navbar-brand { padding-top: 0.75rem; padding-bottom: 0.75rem; font-size: 1rem; background-color: rgba(0, 0, 0, 0.25); box-shadow: rgba(0, 0, 0, 0.25) -1px 0px 0px inset; }

.navbar .form-control { padding: 0.75rem 1rem; border-width: 0px; border-radius: 0px; }

.form-control-dark { color: rgb(255, 255, 255); background-color: rgba(255, 255, 255, 0.1); border-color: rgba(255, 255, 255, 0.1); }

.form-control-dark:focus { border-color: transparent; box-shadow: rgba(255, 255, 255, 0.25) 0px 0px 0px 3px; }