@charset "UTF-8";
@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Lato:300,700,300italic,700italic");

/*
	Binary by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/














/* Button */

	.abutton.alt {
	    background-color: transparent;
	    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.25);
	    color: #fff !important;
		}
	.abutton.big {
	    font-size: 1.25em;
	}
	.abutton:hover {
	    text-decoration: none;
	}
	.abutton {
	    -moz-appearance: none;
	    -webkit-appearance: none;
	    -ms-appearance: none;
	    appearance: none;
	    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	    -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	    border-radius: 0;
	    border: 0;
	    cursor: pointer;
	    display: inline-block;
	    font-weight: 700;
	    height: 3em;
	    line-height: 3em;
	    padding: 0 2.5em;
	    text-align: center;
	    text-decoration: none;
	    white-space: nowrap;
	}
	 a {
	    margin: 0;
	    padding: 0;
	    border: 0;
	    font-size: 100%;
	    font: inherit;
	    vertical-align: baseline;
	}
	*, *:before, *:after {
	    -moz-box-sizing: border-box;
	    -webkit-box-sizing: border-box;
	    box-sizing: border-box;
	}
		#abutton {
			-moz-appearance: none;
			-webkit-appearance: none;
			-ms-appearance: none;
			appearance: none;
			-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
			-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
			-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
			transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
			border-radius: 0;
			border: 0;
			cursor: pointer;
			display: inline-block;
			font-weight: 700;
			height: 3em;
			line-height: 3em;
			padding: 0 2.5em;
			text-align: center;
			text-decoration: none;
			white-space: nowrap;
		}

		



/* List */

	ol {
		list-style: decimal;
		margin: 0 0 2em 0;
		padding-left: 1.25em;
	}

		ol li {
			padding-left: 0.25em;
		}

	ul {
		list-style: disc;
		margin: 0 0 2em 0;
		padding-left: 1em;
	}

		ul li {
			padding-left: 0.5em;
		}

		ul.alt {
			list-style: none;
			padding-left: 0;
		}

			ul.alt li {
				border-top: solid 1px;
				padding: 0.5em 0;
			}

				ul.alt li:first-child {
					border-top: 0;
					padding-top: 0;
				}

		ul.icons {
			cursor: default;
			list-style: none;
			padding-left: 0;
		}

			ul.icons li {
				display: inline-block;
				padding: 0 1em 0 0;
			}

				ul.icons li:last-child {
					padding-right: 0;
				}

				ul.icons li .icon:before {
					font-size: 2em;
				}

		ul.actions {
			cursor: default;
			list-style: none;
			padding-left: 0;
		}

			ul.actions li {
				display: inline-block;
				padding: 0 1em 0 0;
				vertical-align: middle;
			}

				ul.actions li:last-child {
					padding-right: 0;
				}

			ul.actions.small li {
				padding: 0 0.5em 0 0;
			}

			ul.actions.vertical li {
				display: block;
				padding: 1em 0 0 0;
			}

				ul.actions.vertical li:first-child {
					padding-top: 0;
				}

				ul.actions.vertical li > * {
					margin-bottom: 0;
				}

			ul.actions.vertical.small li {
				padding: 0.5em 0 0 0;
			}

				ul.actions.vertical.small li:first-child {
					padding-top: 0;
				}

			ul.actions.fit {
				display: table;
				margin-left: -1em;
				padding: 0;
				table-layout: fixed;
				width: calc(100% + 1em);
			}

				ul.actions.fit li {
					display: table-cell;
					padding: 0 0 0 1em;
				}

					ul.actions.fit li > * {
						margin-bottom: 0;
					}

				ul.actions.fit.small {
					margin-left: -0.5em;
					width: calc(100% + 0.5em);
				}

					ul.actions.fit.small li {
						padding: 0 0 0 0.5em;
					}

			@media screen and (max-width: 480px) {

				ul.actions {
					margin: 0 0 2em 0;
				}

					ul.actions li {
						padding: 1em 0 0 0;
						display: block;
						text-align: center;
						width: 100%;
					}

						ul.actions li:first-child {
							padding-top: 0;
						}

						ul.actions li > * {
							width: 100%;
							margin: 0 !important;
						}

							ul.actions li > *.icon:before {
								margin-left: -2em;
							}

					ul.actions.small li {
						padding: 0.5em 0 0 0;
					}

						ul.actions.small li:first-child {
							padding-top: 0;
						}

			}

	dl {
		margin: 0 0 2em 0;
	}

		dl dt {
			display: block;
			font-weight: 700;
			margin: 0 0 1em 0;
		}

		dl dd {
			margin-left: 2em;
		}

	ul.alt li {
		border-top-color: rgba(144, 144, 144, 0.25);
	}

/* Icon */

	.icon {
		text-decoration: none;
		border-bottom: none;
		position: relative;
		text-decoration: none !important;
	}

		.icon:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.icon > .label {
			display: none;
		}

	.hc {
		height: 2em;
		width: 4em;
		position: absolute;
		left: 50%;
		bottom: 0;
		margin-left: -2em;
		display: block;
		border-radius: 90px 90px 0 0;
		color: #444;
		background: #fff;
	}

		.hc.up {
			border-radius: 0 0 90px 90px;
			top: 0;
			bottom: initial;
		}

		@media screen and (max-width: 980px) {

			.hc {
				display: none;
			}

		}


/* Header */

	body {
		padding-top: 4.125em;
	}

	#header {
		background: #1c1c1c;
		color: rgba(255, 255, 255, 0.75);
		cursor: default;
		height: 4.25em;
		left: 0;
		line-height: 4.25em;
		position: fixed;
		text-align: right;
		top: 0;
		width: 100%;
		z-index: 10001;
	}

		#header .logo {
			display: inline-block;
			height: inherit;
			left: 1.25em;
			line-height: inherit;
			margin: 0;
			padding: 0;
			position: absolute;
			top: 0;
			color: #fff;
			font-size: 1.25em;
			text-decoration: none;
		}

			#header .logo strong {
				color: inherit;
				font-weight: 700;
			}

		#header nav a {
			-moz-transition: color 0.2s ease-in-out;
			-webkit-transition: color 0.2s ease-in-out;
			-ms-transition: color 0.2s ease-in-out;
			transition: color 0.2s ease-in-out;
			display: inline-block;
			padding: 0 0.75em;
			color: inherit;
			text-decoration: none;
		}

			#header nav a:hover {
				color: #fff;
			}

			#header nav a[href="#menu"] {
				text-decoration: none;
				-webkit-tap-highlight-color: transparent;
			}

				#header nav a[href="#menu"]:before {
					content: "";
					-moz-osx-font-smoothing: grayscale;
					-webkit-font-smoothing: antialiased;
					font-family: FontAwesome;
					font-style: normal;
					font-weight: normal;
					text-transform: none !important;
				}

				#header nav a[href="#menu"]:before {
					margin: 0 0.5em 0 0;
				}

			#header nav a + a[href="#menu"]:last-child {
				border-left: solid 1px rgba(255, 255, 255, 0.25);
				padding-left: 1.25em;
				margin-left: 0.5em;
			}

			#header nav a:last-child {
				padding-right: 1.25em;
			}

			@media screen and (max-width: 736px) {

				#header nav a {
					padding: 0 0.5em;
				}

					#header nav a + a[href="#menu"]:last-child {
						padding-left: 1em;
						margin-left: 0.25em;
					}

					#header nav a:last-child {
						padding-right: 1em;
					}

			}

	@media screen and (max-width: 980px) {

		body {
			padding-top: 44px;
		}

		#header {
			height: 44px;
			line-height: 44px;
		}

			#header .logo {
				left: 1em;
				font-size: 1em;
			}

	}

	@media screen and (max-width: 480px) {

		#header {
			min-width: 320px;
		}

	}

/* Menu */

	#menu {
		-moz-transform: translateX(100%);
		-webkit-transform: translateX(100%);
		-ms-transform: translateX(100%);
		transform: translateX(100%);
		-moz-transition: -moz-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
		-webkit-transition: -webkit-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
		-ms-transition: -ms-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
		transition: transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
		-webkit-overflow-scrolling: touch;
		background: #1cc;
		box-shadow: none;
		color: #fff;
		height: 100%;
		max-width: 50%;
		overflow-y: auto;
		padding: 3em 2em;
		position: fixed;
		right: 0;
		top: 0;
		visibility: hidden;
		width: 20em;
		z-index: 10002;
	}

		#menu > ul {
			margin: 0 0 1em 0;
		}

			#menu > ul.links {
				list-style: none;
				padding: 0;
			}

				#menu > ul.links > li {
					padding: 0;
				}

					#menu > ul.links > li > a:not(.button) {
						border: 0;
						border-top: solid 1px rgba(255, 255, 255, 0.25);
						color: inherit;
						display: block;
						line-height: 3.5em;
						text-decoration: none;
					}

					#menu > ul.links > li > .button {
						display: block;
						margin: 0.5em 0 0 0;
					}

					#menu > ul.links > li:first-child > a:not(.button) {
						border-top: 0 !important;
					}

		#menu .close {
			text-decoration: none;
			-moz-transition: color 0.2s ease-in-out;
			-webkit-transition: color 0.2s ease-in-out;
			-ms-transition: color 0.2s ease-in-out;
			transition: color 0.2s ease-in-out;
			-webkit-tap-highlight-color: transparent;
			border: 0;
			color: rgba(255, 255, 255, 0.5);
			cursor: pointer;
			display: block;
			height: 3.25em;
			line-height: 3.25em;
			padding-right: 1.25em;
			position: absolute;
			right: 0;
			text-align: right;
			top: 0;
			vertical-align: middle;
			width: 7em;
		}

			#menu .close:before {
				content: "";
				-moz-osx-font-smoothing: grayscale;
				-webkit-font-smoothing: antialiased;
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				text-transform: none !important;
			}

			#menu .close:before {
				font-size: 1.25em;
			}

			#menu .close:hover {
				color: #fff;
			}

			@media screen and (max-width: 736px) {

				#menu .close {
					height: 4em;
					line-height: 4em;
				}

			}

		#menu.visible {
			-moz-transform: translateX(0);
			-webkit-transform: translateX(0);
			-ms-transform: translateX(0);
			transform: translateX(0);
			box-shadow: 0 0 1.5em 0 rgba(0, 0, 0, 0.2);
			visibility: visible;
		}

		@media screen and (max-width: 736px) {

			#menu {
				padding: 2.5em 1.75em;
			}

		}

/* Banner */

	#banner {
		background-color: #3498db;
		color: rgba(255, 255, 255, 0.75);
		text-align: center;
		cursor: default;
		padding: 10em 4em 9em 4em;
	}

		#banner input, #banner select, #banner textarea {
			color: #fff;
		}

		#banner a {
			color: #fff;
		}

		#banner strong, #banner b {
			color: #fff;
		}

		#banner h1, #banner h2, #banner h3, #banner h4, #banner h5, #banner h6 {
			color: #fff;
		}

		#banner blockquote {
			border-left-color: rgba(255, 255, 255, 0.25);
		}

		#banner code {
			background: rgba(255, 255, 255, 0.075);
			border-color: rgba(255, 255, 255, 0.25);
		}

		#banner hr {
			border-bottom-color: rgba(255, 255, 255, 0.25);
		}

		#banner .box {
			border-color: rgba(255, 255, 255, 0.25);
		}

		#banner input[type="submit"],
		#banner input[type="reset"],
		#banner input[type="button"],
		#banner button,
		#banner .button {
			background-color: #1abc9c;
			color: #fff !important;
		}

			#banner input[type="submit"]:hover,
			#banner input[type="reset"]:hover,
			#banner input[type="button"]:hover,
			#banner button:hover,
			#banner .button:hover {
				background-color: #1dd2af;
			}

			#banner input[type="submit"]:active,
			#banner input[type="reset"]:active,
			#banner input[type="button"]:active,
			#banner button:active,
			#banner .button:active {
				background-color: #17a689;
			}

			#banner input[type="submit"].alt,
			#banner input[type="reset"].alt,
			#banner input[type="button"].alt,
			#banner button.alt,
			#banner .button.alt {
				background-color: transparent;
				box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.25);
				color: #fff !important;
			}

				#banner input[type="submit"].alt:hover,
				#banner input[type="reset"].alt:hover,
				#banner input[type="button"].alt:hover,
				#banner button.alt:hover,
				#banner .button.alt:hover {
					background-color: rgba(255, 255, 255, 0.075);
				}

				#banner input[type="submit"].alt:active,
				#banner input[type="reset"].alt:active,
				#banner input[type="button"].alt:active,
				#banner button.alt:active,
				#banner .button.alt:active {
					background-color: rgba(255, 255, 255, 0.2);
				}

				#banner input[type="submit"].alt.icon:before,
				#banner input[type="reset"].alt.icon:before,
				#banner input[type="button"].alt.icon:before,
				#banner button.alt.icon:before,
				#banner .button.alt.icon:before {
					color: rgba(255, 255, 255, 0.5);
				}

			#banner input[type="submit"].special,
			#banner input[type="reset"].special,
			#banner input[type="button"].special,
			#banner button.special,
			#banner .button.special {
				background-color: #fff;
				color: #3498db !important;
			}

		#banner label {
			color: #fff;
		}

		#banner input[type="text"],
		#banner input[type="password"],
		#banner input[type="email"],
		#banner select,
		#banner textarea {
			background: rgba(255, 255, 255, 0.075);
			border-color: rgba(255, 255, 255, 0.25);
		}

			#banner input[type="text"]:focus,
			#banner input[type="password"]:focus,
			#banner input[type="email"]:focus,
			#banner select:focus,
			#banner textarea:focus {
				border-color: #fff;
				box-shadow: 0 0 0 1px #fff;
			}

		#banner .select-wrapper:before {
			color: rgba(255, 255, 255, 0.25);
		}

		#banner input[type="checkbox"] + label,
		#banner input[type="radio"] + label {
			color: rgba(255, 255, 255, 0.75);
		}

			#banner input[type="checkbox"] + label:before,
			#banner input[type="radio"] + label:before {
				background: rgba(255, 255, 255, 0.075);
				border-color: rgba(255, 255, 255, 0.25);
			}

		#banner input[type="checkbox"]:checked + label:before,
		#banner input[type="radio"]:checked + label:before {
			background-color: #fff;
			border-color: #fff;
			color: #3498db;
		}

		#banner input[type="checkbox"]:focus + label:before,
		#banner input[type="radio"]:focus + label:before {
			border-color: #fff;
			box-shadow: 0 0 0 1px #fff;
		}

		#banner ::-webkit-input-placeholder {
			color: rgba(255, 255, 255, 0.5) !important;
		}

		#banner :-moz-placeholder {
			color: rgba(255, 255, 255, 0.5) !important;
		}

		#banner ::-moz-placeholder {
			color: rgba(255, 255, 255, 0.5) !important;
		}

		#banner :-ms-input-placeholder {
			color: rgba(255, 255, 255, 0.5) !important;
		}

		#banner .formerize-placeholder {
			color: rgba(255, 255, 255, 0.5) !important;
		}

		#banner ul.alt li {
			border-top-color: rgba(255, 255, 255, 0.25);
		}

		#banner header p {
			color: rgba(255, 255, 255, 0.5);
		}

		#banner table tbody tr {
			border-color: rgba(255, 255, 255, 0.25);
		}

			#banner table tbody tr:nth-child(2n + 1) {
				background-color: rgba(255, 255, 255, 0.075);
			}

		#banner table th {
			color: #fff;
		}

		#banner table thead {
			border-bottom-color: rgba(255, 255, 255, 0.25);
		}

		#banner table tfoot {
			border-top-color: rgba(255, 255, 255, 0.25);
		}

		#banner table.alt tbody tr td {
			border-color: rgba(255, 255, 255, 0.25);
		}

		#banner h1 {
			font-size: 3em;
			line-height: 1.45;
			margin: 0 0 0.75em 0;
		}

		#banner > .inner {
			opacity: 1;
			-moz-transform: none;
			-webkit-transform: none;
			-ms-transform: none;
			transform: none;
			-moz-transition: opacity 1s ease, -moz-transform 1s ease;
			-webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
			-ms-transition: opacity 1s ease, -ms-transform 1s ease;
			transition: opacity 1s ease, transform 1s ease;
		}

			#banner > .inner > :last-child {
				margin-bottom: 0;
			}

		body.is-loading #banner > .inner {
			opacity: 0;
			-moz-transform: translateY(1em);
			-webkit-transform: translateY(1em);
			-ms-transform: translateY(1em);
			transform: translateY(1em);
		}

		@media screen and (max-width: 1280px) {

			#banner h1 {
				font-size: 2.75em;
			}

				#banner h1 br {
					display: none;
				}

		}

		@media screen and (max-width: 736px) {

			#banner {
				padding: 5em 1.5em 4em 1.5em;
			}

				#banner h1 {
					font-size: 2em;
				}

		}

/* Main */

	#main {
		padding: 4em 0 2em 0;
	}

		#main .inner {
			max-width: 60em;
			margin: 0 auto;
		}

			#main .inner header p {
				font-size: 1em;
				font-style: italic;
				border-top: 1px solid rgba(144, 144, 144, 0.25);
				border-bottom: 1px solid rgba(144, 144, 144, 0.25);
				padding: .5em 0;
			}

		@media screen and (max-width: 980px) {

			#main {
				padding: 3em 0 1em 0;
			}

				#main .inner {
					width: 90%;
				}

		}

	.post {
		display: -ms-flexbox;
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-ms-flex-align: stretch;
		-moz-align-items: stretch;
		-webkit-align-items: stretch;
		-ms-align-items: stretch;
		align-items: stretch;
		-ms-flex-pack: end;
		min-height: -webkit-calc(100vh - 4.25em);
		min-height: -moz-calc(100vh - 4.25em);
		min-height: calc(100vh - 4.25em);
		position: relative;
	}

		body.is-ie .post {
			min-height: 0;
		}

		.post .content {
			-moz-transition: background 0.2s ease-in-out;
			-webkit-transition: background 0.2s ease-in-out;
			-ms-transition: background 0.2s ease-in-out;
			transition: background 0.2s ease-in-out;
			-moz-order: 1;
			-webkit-order: 1;
			-ms-order: 1;
			order: 1;
			width: 50%;
			display: block;
			background: #FFF;
			padding: 8em;
			text-align: right;
			position: relative;
		}

			.post .content:before {
				content: '';
				display: inline-block;
				height: 100%;
				vertical-align: middle;
				margin-right: -0.25em;
			/* Adjusts for spacing */
		}

			.post .content .inner {
				display: inline-block;
				vertical-align: middle;
			}

			.post .content header h2 {
				font-size: 2.35em;
			}

			.post .content header p {
				font-size: 1em;
				font-style: italic;
				border-top: 1px solid rgba(144, 144, 144, 0.25);
				border-bottom: 1px solid rgba(144, 144, 144, 0.25);
				padding: .5em 0;
			}

			.post .content .button {
				margin: 0;
			}

			.post .content .postnav {
				position: absolute;
				left: 2em;
				bottom: 2em;
			}

				.post .content .postnav .prev, .post .content .postnav .next {
					text-decoration: none;
					display: block;
					border: 1px solid rgba(144, 144, 144, 0.25);
					width: 2em;
					height: 2em;
					line-height: 2em;
					text-align: center;
				}

					.post .content .postnav .prev:hover, .post .content .postnav .next:hover {
						background: rgba(144, 144, 144, 0.075);
					}

					.post .content .postnav .prev.disabled, .post .content .postnav .next.disabled {
						color: #bbb;
						pointer-events: none;
					}

				.post .content .postnav .prev {
					border-bottom: none;
				}

		.post .image {
			-ms-flex-order: 2;
			-moz-order: 2;
			-webkit-order: 2;
			-ms-order: 2;
			order: 2;
			width: 50%;
			display: block;
			margin: 0;
			position: relative;
			overflow: hidden;
			background-color: #ffffff;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}

			.post .image img {
				position: absolute;
				top: 0;
				right: 0;
				height: 100%;
				width: auto;
				display: none;
			}

		.post.alt .content {
			-ms-flex-order: 2;
			-moz-order: 2;
			-webkit-order: 2;
			-ms-order: 2;
			order: 2;
			text-align: left;
		}

			.post.alt .content .postnav {
				right: 2em;
				left: initial;
			}

				@media screen and (max-width: 1280px) {

					.post.alt .content .postnav {
						right: 1em;
					}

				}

		.post.alt .image {
			-ms-flex-order: 1;
			-moz-order: 1;
			-webkit-order: 1;
			-ms-order: 1;
			order: 1;
		}

			.post.alt .image img {
				right: initial;
				left: 0;
			}

		.post.style1 {
			background-color: #fff;
			color: #444;
		}

			.post.style1 input, .post.style1 select, .post.style1 textarea {
				color: #1abc9c;
			}

			.post.style1 a {
				color: #1abc9c;
			}

			.post.style1 strong, .post.style1 b {
				color: #1abc9c;
			}

			.post.style1 h1, .post.style1 h2, .post.style1 h3, .post.style1 h4, .post.style1 h5, .post.style1 h6 {
				color: #1abc9c;
			}

			.post.style1 blockquote {
				border-left-color: rgba(144, 144, 144, 0.25);
			}

			.post.style1 code {
				background: rgba(144, 144, 144, 0.075);
				border-color: rgba(144, 144, 144, 0.25);
			}

			.post.style1 hr {
				border-bottom-color: rgba(144, 144, 144, 0.25);
			}

			.post.style1 input[type="submit"],
			.post.style1 input[type="reset"],
			.post.style1 input[type="button"],
			.post.style1 button,
			.post.style1 .button {
				background-color: #1abc9c;
				color: #fff !important;
			}

				.post.style1 input[type="submit"]:hover,
				.post.style1 input[type="reset"]:hover,
				.post.style1 input[type="button"]:hover,
				.post.style1 button:hover,
				.post.style1 .button:hover {
					background-color: #1dd2af;
				}

				.post.style1 input[type="submit"]:active,
				.post.style1 input[type="reset"]:active,
				.post.style1 input[type="button"]:active,
				.post.style1 button:active,
				.post.style1 .button:active {
					background-color: #17a689;
				}

				.post.style1 input[type="submit"].alt,
				.post.style1 input[type="reset"].alt,
				.post.style1 input[type="button"].alt,
				.post.style1 button.alt,
				.post.style1 .button.alt {
					background-color: transparent;
					box-shadow: inset 0 0 0 2px rgba(144, 144, 144, 0.25);
					color: #1abc9c !important;
				}

					.post.style1 input[type="submit"].alt:hover,
					.post.style1 input[type="reset"].alt:hover,
					.post.style1 input[type="button"].alt:hover,
					.post.style1 button.alt:hover,
					.post.style1 .button.alt:hover {
						background-color: rgba(144, 144, 144, 0.075);
					}

					.post.style1 input[type="submit"].alt:active,
					.post.style1 input[type="reset"].alt:active,
					.post.style1 input[type="button"].alt:active,
					.post.style1 button.alt:active,
					.post.style1 .button.alt:active {
						background-color: rgba(144, 144, 144, 0.2);
					}

					.post.style1 input[type="submit"].alt.icon:before,
					.post.style1 input[type="reset"].alt.icon:before,
					.post.style1 input[type="button"].alt.icon:before,
					.post.style1 button.alt.icon:before,
					.post.style1 .button.alt.icon:before {
						color: #bbb;
					}

				.post.style1 input[type="submit"].special,
				.post.style1 input[type="reset"].special,
				.post.style1 input[type="button"].special,
				.post.style1 button.special,
				.post.style1 .button.special {
					background-color: #1abc9c;
					color: #fff !important;
				}

			.post.style1.invert {
				background-color: #1abc9c;
				color: rgba(255, 255, 255, 0.75);
			}

				.post.style1.invert input, .post.style1.invert select, .post.style1.invert textarea {
					color: #fff;
				}

				.post.style1.invert a {
					color: #fff;
				}

				.post.style1.invert strong, .post.style1.invert b {
					color: #fff;
				}

				.post.style1.invert h1, .post.style1.invert h2, .post.style1.invert h3, .post.style1.invert h4, .post.style1.invert h5, .post.style1.invert h6 {
					color: #fff;
				}

				.post.style1.invert blockquote {
					border-left-color: rgba(255, 255, 255, 0.25);
				}

				.post.style1.invert code {
					background: rgba(255, 255, 255, 0.075);
					border-color: rgba(255, 255, 255, 0.25);
				}

				.post.style1.invert hr {
					border-bottom-color: rgba(255, 255, 255, 0.25);
				}

				.post.style1.invert input[type="submit"],
				.post.style1.invert input[type="reset"],
				.post.style1.invert input[type="button"],
				.post.style1.invert button,
				.post.style1.invert .button {
					background-color: #fff;
					color: #1abc9c !important;
				}

					.post.style1.invert input[type="submit"].alt,
					.post.style1.invert input[type="reset"].alt,
					.post.style1.invert input[type="button"].alt,
					.post.style1.invert button.alt,
					.post.style1.invert .button.alt {
						background-color: transparent;
						box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.25);
						color: #fff !important;
					}

						.post.style1.invert input[type="submit"].alt:hover,
						.post.style1.invert input[type="reset"].alt:hover,
						.post.style1.invert input[type="button"].alt:hover,
						.post.style1.invert button.alt:hover,
						.post.style1.invert .button.alt:hover {
							background-color: rgba(255, 255, 255, 0.075);
						}

						.post.style1.invert input[type="submit"].alt:active,
						.post.style1.invert input[type="reset"].alt:active,
						.post.style1.invert input[type="button"].alt:active,
						.post.style1.invert button.alt:active,
						.post.style1.invert .button.alt:active {
							background-color: rgba(255, 255, 255, 0.2);
						}

						.post.style1.invert input[type="submit"].alt.icon:before,
						.post.style1.invert input[type="reset"].alt.icon:before,
						.post.style1.invert input[type="button"].alt.icon:before,
						.post.style1.invert button.alt.icon:before,
						.post.style1.invert .button.alt.icon:before {
							color: rgba(255, 255, 255, 0.5);
						}

					.post.style1.invert input[type="submit"].special,
					.post.style1.invert input[type="reset"].special,
					.post.style1.invert input[type="button"].special,
					.post.style1.invert button.special,
					.post.style1.invert .button.special {
						background-color: #fff;
						color: #1abc9c !important;
					}

				.post.style1.invert .content {
					background: #1abc9c;
				}

					.post.style1.invert .content header p {
						color: rgba(255, 255, 255, 0.5);
						border-top: 1px solid rgba(255, 255, 255, 0.25);
						border-bottom: 1px solid rgba(255, 255, 255, 0.25);
					}

					.post.style1.invert .content .postnav .prev, .post.style1.invert .content .postnav .next {
						border: 1px solid rgba(255, 255, 255, 0.25);
					}

						.post.style1.invert .content .postnav .prev:hover, .post.style1.invert .content .postnav .next:hover {
							background: rgba(255, 255, 255, 0.075);
						}

						.post.style1.invert .content .postnav .prev.disabled, .post.style1.invert .content .postnav .next.disabled {
							color: rgba(255, 255, 255, 0.5);
						}

				.post.style1.invert .image {
					background-color: #1abc9c;
				}

		.post.style2 {
			background-color: #fff;
			color: #444;
		}

			.post.style2 input, .post.style2 select, .post.style2 textarea {
				color: #3498db;
			}

			.post.style2 a {
				color: #3498db;
			}

			.post.style2 strong, .post.style2 b {
				color: #3498db;
			}

			.post.style2 h1, .post.style2 h2, .post.style2 h3, .post.style2 h4, .post.style2 h5, .post.style2 h6 {
				color: #3498db;
			}

			.post.style2 blockquote {
				border-left-color: rgba(144, 144, 144, 0.25);
			}

			.post.style2 code {
				background: rgba(144, 144, 144, 0.075);
				border-color: rgba(144, 144, 144, 0.25);
			}

			.post.style2 hr {
				border-bottom-color: rgba(144, 144, 144, 0.25);
			}

			.post.style2 input[type="submit"],
			.post.style2 input[type="reset"],
			.post.style2 input[type="button"],
			.post.style2 button,
			.post.style2 .button {
				background-color: #1abc9c;
				color: #fff !important;
			}

				.post.style2 input[type="submit"]:hover,
				.post.style2 input[type="reset"]:hover,
				.post.style2 input[type="button"]:hover,
				.post.style2 button:hover,
				.post.style2 .button:hover {
					background-color: #1dd2af;
				}

				.post.style2 input[type="submit"]:active,
				.post.style2 input[type="reset"]:active,
				.post.style2 input[type="button"]:active,
				.post.style2 button:active,
				.post.style2 .button:active {
					background-color: #17a689;
				}

				.post.style2 input[type="submit"].alt,
				.post.style2 input[type="reset"].alt,
				.post.style2 input[type="button"].alt,
				.post.style2 button.alt,
				.post.style2 .button.alt {
					background-color: transparent;
					box-shadow: inset 0 0 0 2px rgba(144, 144, 144, 0.25);
					color: #3498db !important;
				}

					.post.style2 input[type="submit"].alt:hover,
					.post.style2 input[type="reset"].alt:hover,
					.post.style2 input[type="button"].alt:hover,
					.post.style2 button.alt:hover,
					.post.style2 .button.alt:hover {
						background-color: rgba(144, 144, 144, 0.075);
					}

					.post.style2 input[type="submit"].alt:active,
					.post.style2 input[type="reset"].alt:active,
					.post.style2 input[type="button"].alt:active,
					.post.style2 button.alt:active,
					.post.style2 .button.alt:active {
						background-color: rgba(144, 144, 144, 0.2);
					}

					.post.style2 input[type="submit"].alt.icon:before,
					.post.style2 input[type="reset"].alt.icon:before,
					.post.style2 input[type="button"].alt.icon:before,
					.post.style2 button.alt.icon:before,
					.post.style2 .button.alt.icon:before {
						color: #bbb;
					}

				.post.style2 input[type="submit"].special,
				.post.style2 input[type="reset"].special,
				.post.style2 input[type="button"].special,
				.post.style2 button.special,
				.post.style2 .button.special {
					background-color: #3498db;
					color: #fff !important;
				}

			.post.style2.invert {
				background-color: #3498db;
				color: rgba(255, 255, 255, 0.75);
			}

				.post.style2.invert input, .post.style2.invert select, .post.style2.invert textarea {
					color: #fff;
				}

				.post.style2.invert a {
					color: #fff;
				}

				.post.style2.invert strong, .post.style2.invert b {
					color: #fff;
				}

				.post.style2.invert h1, .post.style2.invert h2, .post.style2.invert h3, .post.style2.invert h4, .post.style2.invert h5, .post.style2.invert h6 {
					color: #fff;
				}

				.post.style2.invert blockquote {
					border-left-color: rgba(255, 255, 255, 0.25);
				}

				.post.style2.invert code {
					background: rgba(255, 255, 255, 0.075);
					border-color: rgba(255, 255, 255, 0.25);
				}

				.post.style2.invert hr {
					border-bottom-color: rgba(255, 255, 255, 0.25);
				}

				.post.style2.invert input[type="submit"],
				.post.style2.invert input[type="reset"],
				.post.style2.invert input[type="button"],
				.post.style2.invert button,
				.post.style2.invert .button {
					background-color: #1abc9c;
					color: #fff !important;
				}

					.post.style2.invert input[type="submit"]:hover,
					.post.style2.invert input[type="reset"]:hover,
					.post.style2.invert input[type="button"]:hover,
					.post.style2.invert button:hover,
					.post.style2.invert .button:hover {
						background-color: #1dd2af;
					}

					.post.style2.invert input[type="submit"]:active,
					.post.style2.invert input[type="reset"]:active,
					.post.style2.invert input[type="button"]:active,
					.post.style2.invert button:active,
					.post.style2.invert .button:active {
						background-color: #17a689;
					}

					.post.style2.invert input[type="submit"].alt,
					.post.style2.invert input[type="reset"].alt,
					.post.style2.invert input[type="button"].alt,
					.post.style2.invert button.alt,
					.post.style2.invert .button.alt {
						background-color: transparent;
						box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.25);
						color: #fff !important;
					}

						.post.style2.invert input[type="submit"].alt:hover,
						.post.style2.invert input[type="reset"].alt:hover,
						.post.style2.invert input[type="button"].alt:hover,
						.post.style2.invert button.alt:hover,
						.post.style2.invert .button.alt:hover {
							background-color: rgba(255, 255, 255, 0.075);
						}

						.post.style2.invert input[type="submit"].alt:active,
						.post.style2.invert input[type="reset"].alt:active,
						.post.style2.invert input[type="button"].alt:active,
						.post.style2.invert button.alt:active,
						.post.style2.invert .button.alt:active {
							background-color: rgba(255, 255, 255, 0.2);
						}

						.post.style2.invert input[type="submit"].alt.icon:before,
						.post.style2.invert input[type="reset"].alt.icon:before,
						.post.style2.invert input[type="button"].alt.icon:before,
						.post.style2.invert button.alt.icon:before,
						.post.style2.invert .button.alt.icon:before {
							color: rgba(255, 255, 255, 0.5);
						}

					.post.style2.invert input[type="submit"].special,
					.post.style2.invert input[type="reset"].special,
					.post.style2.invert input[type="button"].special,
					.post.style2.invert button.special,
					.post.style2.invert .button.special {
						background-color: #fff;
						color: #3498db !important;
					}

				.post.style2.invert .content {
					background: #3498db;
				}

					.post.style2.invert .content header p {
						color: rgba(255, 255, 255, 0.5);
						border-top: 1px solid rgba(255, 255, 255, 0.25);
						border-bottom: 1px solid rgba(255, 255, 255, 0.25);
					}

					.post.style2.invert .content .postnav .prev, .post.style2.invert .content .postnav .next {
						border: 1px solid rgba(255, 255, 255, 0.25);
					}

						.post.style2.invert .content .postnav .prev:hover, .post.style2.invert .content .postnav .next:hover {
							background: rgba(255, 255, 255, 0.075);
						}

						.post.style2.invert .content .postnav .prev.disabled, .post.style2.invert .content .postnav .next.disabled {
							color: rgba(255, 255, 255, 0.5);
						}

				.post.style2.invert .image {
					background-color: #3498db;
				}

		.post.style3 {
			background-color: #fff;
			color: #444;
		}

			.post.style3 input, .post.style3 select, .post.style3 textarea {
				color: #9b59b6;
			}

			.post.style3 a {
				color: #9b59b6;
			}

			.post.style3 strong, .post.style3 b {
				color: #9b59b6;
			}

			.post.style3 h1, .post.style3 h2, .post.style3 h3, .post.style3 h4, .post.style3 h5, .post.style3 h6 {
				color: #9b59b6;
			}

			.post.style3 blockquote {
				border-left-color: rgba(144, 144, 144, 0.25);
			}

			.post.style3 code {
				background: rgba(144, 144, 144, 0.075);
				border-color: rgba(144, 144, 144, 0.25);
			}

			.post.style3 hr {
				border-bottom-color: rgba(144, 144, 144, 0.25);
			}

			.post.style3 input[type="submit"],
			.post.style3 input[type="reset"],
			.post.style3 input[type="button"],
			.post.style3 button,
			.post.style3 .button {
				background-color: #1abc9c;
				color: #fff !important;
			}

				.post.style3 input[type="submit"]:hover,
				.post.style3 input[type="reset"]:hover,
				.post.style3 input[type="button"]:hover,
				.post.style3 button:hover,
				.post.style3 .button:hover {
					background-color: #1dd2af;
				}

				.post.style3 input[type="submit"]:active,
				.post.style3 input[type="reset"]:active,
				.post.style3 input[type="button"]:active,
				.post.style3 button:active,
				.post.style3 .button:active {
					background-color: #17a689;
				}

				.post.style3 input[type="submit"].alt,
				.post.style3 input[type="reset"].alt,
				.post.style3 input[type="button"].alt,
				.post.style3 button.alt,
				.post.style3 .button.alt {
					background-color: transparent;
					box-shadow: inset 0 0 0 2px rgba(144, 144, 144, 0.25);
					color: #9b59b6 !important;
				}

					.post.style3 input[type="submit"].alt:hover,
					.post.style3 input[type="reset"].alt:hover,
					.post.style3 input[type="button"].alt:hover,
					.post.style3 button.alt:hover,
					.post.style3 .button.alt:hover {
						background-color: rgba(144, 144, 144, 0.075);
					}

					.post.style3 input[type="submit"].alt:active,
					.post.style3 input[type="reset"].alt:active,
					.post.style3 input[type="button"].alt:active,
					.post.style3 button.alt:active,
					.post.style3 .button.alt:active {
						background-color: rgba(144, 144, 144, 0.2);
					}

					.post.style3 input[type="submit"].alt.icon:before,
					.post.style3 input[type="reset"].alt.icon:before,
					.post.style3 input[type="button"].alt.icon:before,
					.post.style3 button.alt.icon:before,
					.post.style3 .button.alt.icon:before {
						color: #bbb;
					}

				.post.style3 input[type="submit"].special,
				.post.style3 input[type="reset"].special,
				.post.style3 input[type="button"].special,
				.post.style3 button.special,
				.post.style3 .button.special {
					background-color: #9b59b6;
					color: #fff !important;
				}

			.post.style3.invert {
				background-color: #9b59b6;
				color: rgba(255, 255, 255, 0.75);
			}

				.post.style3.invert input, .post.style3.invert select, .post.style3.invert textarea {
					color: #fff;
				}

				.post.style3.invert a {
					color: #fff;
				}

				.post.style3.invert strong, .post.style3.invert b {
					color: #fff;
				}

				.post.style3.invert h1, .post.style3.invert h2, .post.style3.invert h3, .post.style3.invert h4, .post.style3.invert h5, .post.style3.invert h6 {
					color: #fff;
				}

				.post.style3.invert blockquote {
					border-left-color: rgba(255, 255, 255, 0.25);
				}

				.post.style3.invert code {
					background: rgba(255, 255, 255, 0.075);
					border-color: rgba(255, 255, 255, 0.25);
				}

				.post.style3.invert hr {
					border-bottom-color: rgba(255, 255, 255, 0.25);
				}

				.post.style3.invert input[type="submit"],
				.post.style3.invert input[type="reset"],
				.post.style3.invert input[type="button"],
				.post.style3.invert button,
				.post.style3.invert .button {
					background-color: #1abc9c;
					color: #fff !important;
				}

					.post.style3.invert input[type="submit"]:hover,
					.post.style3.invert input[type="reset"]:hover,
					.post.style3.invert input[type="button"]:hover,
					.post.style3.invert button:hover,
					.post.style3.invert .button:hover {
						background-color: #1dd2af;
					}

					.post.style3.invert input[type="submit"]:active,
					.post.style3.invert input[type="reset"]:active,
					.post.style3.invert input[type="button"]:active,
					.post.style3.invert button:active,
					.post.style3.invert .button:active {
						background-color: #17a689;
					}

					.post.style3.invert input[type="submit"].alt,
					.post.style3.invert input[type="reset"].alt,
					.post.style3.invert input[type="button"].alt,
					.post.style3.invert button.alt,
					.post.style3.invert .button.alt {
						background-color: transparent;
						box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.25);
						color: #fff !important;
					}

						.post.style3.invert input[type="submit"].alt:hover,
						.post.style3.invert input[type="reset"].alt:hover,
						.post.style3.invert input[type="button"].alt:hover,
						.post.style3.invert button.alt:hover,
						.post.style3.invert .button.alt:hover {
							background-color: rgba(255, 255, 255, 0.075);
						}

						.post.style3.invert input[type="submit"].alt:active,
						.post.style3.invert input[type="reset"].alt:active,
						.post.style3.invert input[type="button"].alt:active,
						.post.style3.invert button.alt:active,
						.post.style3.invert .button.alt:active {
							background-color: rgba(255, 255, 255, 0.2);
						}

						.post.style3.invert input[type="submit"].alt.icon:before,
						.post.style3.invert input[type="reset"].alt.icon:before,
						.post.style3.invert input[type="button"].alt.icon:before,
						.post.style3.invert button.alt.icon:before,
						.post.style3.invert .button.alt.icon:before {
							color: rgba(255, 255, 255, 0.5);
						}

					.post.style3.invert input[type="submit"].special,
					.post.style3.invert input[type="reset"].special,
					.post.style3.invert input[type="button"].special,
					.post.style3.invert button.special,
					.post.style3.invert .button.special {
						background-color: #fff;
						color: #9b59b6 !important;
					}

				.post.style3.invert .content {
					background: #9b59b6;
				}

					.post.style3.invert .content header p {
						color: rgba(255, 255, 255, 0.5);
						border-top: 1px solid rgba(255, 255, 255, 0.25);
						border-bottom: 1px solid rgba(255, 255, 255, 0.25);
					}

					.post.style3.invert .content .postnav .prev, .post.style3.invert .content .postnav .next {
						border: 1px solid rgba(255, 255, 255, 0.25);
					}

						.post.style3.invert .content .postnav .prev:hover, .post.style3.invert .content .postnav .next:hover {
							background: rgba(255, 255, 255, 0.075);
						}

						.post.style3.invert .content .postnav .prev.disabled, .post.style3.invert .content .postnav .next.disabled {
							color: rgba(255, 255, 255, 0.5);
						}

				.post.style3.invert .image {
					background-color: #9b59b6;
				}

		@media screen and (max-width: 1280px) {

			.post .content {
				padding: 4em;
			}

				.post .content .postnav {
					left: 1em;
					bottom: 1em;
				}

		}

		@media screen and (max-width: 980px) {

			.post {
				-ms-flex-direction: column;
				-moz-flex-direction: column;
				-webkit-flex-direction: column;
				-ms-flex-direction: column;
				flex-direction: column;
				height: auto;
				min-height: 0;
			}

				.post .image {
					-ms-flex-order: 1;
					-moz-order: 1;
					-webkit-order: 1;
					-ms-order: 1;
					order: 1;
					width: 100%;
					overflow: auto;
					background: none !important;
				}

					.post .image img {
						position: relative;
						width: 100%;
						height: auto;
						display: block;
					}

				.post .content {
					-ms-flex-order: 2;
					-moz-order: 2;
					-webkit-order: 2;
					-ms-order: 2;
					order: 2;
					width: 100%;
					text-align: left;
				}

					.post .content .postnav {
						display: none;
					}

				.post.alt .image img {
					left: initial;
				}

				.post.alt .content {
					text-align: left;
				}

		}

		@media screen and (max-width: 736px) {

			.post .content {
				padding: 2em 1.5em 3em 1.5em;
			}

				.post .content header h2 {
					font-size: 1.75em;
				}

			.post .button {
				width: 100%;
			}

		}

/* Footer */

	#footer {
		padding: 4em 0 2em 0;
		background: #1c1c1c;
		text-align: center;
	}

		#footer a {
			color: rgba(255, 255, 255, 0.75);
		}

			#footer a:hover {
				color: #fff;
			}

		#footer .copyright {
			color: rgba(255, 255, 255, 0.5);
			font-size: 0.9em;
			margin: 0 0 2em 0;
			padding: 0;
		}

		@media screen and (max-width: 736px) {

			#footer {
				padding: 3em 0 1em 0;
			}

		}

/*end css */